:root {
    --mdc-theme-primary: #000000;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.mdc-button.mdc-snackbar__action:empty {
    display: none;
}

.mdc-menu-surface--animating-open {
    /* Someone at Google screwed the animation up. */
    opacity: 1 !important;
    transform: scale(1) !important;
}

a, a:visited {
    transition: color 0.2s, text-decoration-color 0.2s, text-shadow 0.2s, border-bottom 0.2s;
    color: rgba(0, 0, 0, 0.75);
    text-decoration-color: rgba(0, 0, 0, 0.75);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    font-weight: 500;
    position: relative;
    display: inline-block;
    outline: none;
}
a:hover, a:focus, a:active {
    color: rgba(0, 0, 0, 0.87);
    text-decoration-color: rgba(0, 0, 0, 0.87);
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

#logo {
    height: 48px;
    margin-right: 16px;
    transform: translateY(4px);
}
.desktop #logo {
    height: 32px;
    margin-right: 8px;
}

.dropdown-content {
    /* Materialize screws up its own dropdown sizing. */
    width: auto !important;
    height: auto !important;
}
nav .dropdown-content {
    top: 64px !important;
}
nav button.mdc-button {
    color: white;
}

.desktop .mdc-list-item {
    height: 32px;
}

.material-icons:empty {
    display: none;
}

.mdc-menu .mdc-list-item .material-icons {
    margin-right: 0.5em;
}
.desktop .mdc-list-item .material-icons {
    margin-right: 0.25em;
    font-size: 24px;
    line-height: 0;
    transform: translateY(6px);
}
.desktop .mdc-list-item img.icon {
    height: 24px;
    max-width: 24px;
    image-rendering: pixelated;
    float: left;
    margin-right: 0.5em;
}
.mdc-top-app-bar .mdc-menu {
    margin-top: 32px;
}
.desktop .mdc-top-app-bar .mdc-menu {
    margin-top: 24px;
}

.mdc-ripple-upgraded.focused::before,
.mdc-ripple-upgraded[data-focused]::before {
    opacity: 0.12 !important;
}

body {
    background: #3b2d4a;
    overflow: hidden;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

app {
    will-change: clip-path;
    background: #eeeeee;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    clip-path: circle(0 at center);
}
app.ready {
    animation: appintro-app /*0.*/0.6s /*0.*/0.6s 1 cubic-bezier(0.560, 0.055, 0.595, 0.810) forwards;
}
app::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    pointer-events: none;
    z-index: 10;
}
app.ready::after {
    animation: appintro-overlay /*0.*/0.5s /*0.*/0.7s 1 cubic-bezier(0.530, 0.080, 0.425, 0.795) forwards;
}

/* #splash inlined */
#splash.hidden {
    z-index: 0;
    pointer-events: none;
    animation: appintro-splash /*0.*/0.7s /*0.*/0.0s 1 cubic-bezier(0.155, 0.330, 0.160, 0.920) forwards;
}
#splash.hidden #splash-inner {
    animation: appintro-splash-inner /*0.*/1.1s /*0.*/0.0s 1 cubic-bezier(0.560, 0.055, 0.705, 0.900) forwards;
}

@keyframes appintro-splash {
    0%   { transform: scale(1.0) translateY(0); }
    100% { transform: scale(0.8) translateY(15vh); }
}
@keyframes appintro-splash-inner {
    0%   { transform: scale(1.0) translateY(0); }
    100% { transform: scale(1.8) translateY(calc(-17vh)); }
}
@keyframes appintro-app {
    0%   { clip-path: circle(0 at calc(50vw) calc(50vh + 12vh)); }
    100% { clip-path: circle(100% at calc(50vw) calc(50vh - 30vh)); }
}
@keyframes appintro-overlay {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

header.mdc-top-app-bar {
    flex-grow: 1;
    /* background-color: #3b2d4a; */
    background-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
    --mdc-theme-primary: #ffffff;
}
header.mdc-top-app-bar::before {
    content: "";
    transition: background-color 0.2s;
    z-index: -1;
    position: absolute;
    top: -2px;
    bottom: 0;
    left: -2px;
    right: -2px;
    background-color: rgba(59, 45, 74, 0.425);
}
header.mdc-top-app-bar:hover::before {
    background-color: rgba(59, 45, 74, 1.0);
}
.desktop header.mdc-top-app-bar .mdc-top-app-bar__row {
    height: 32px;
}

main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
}
.pane {
    flex: 0 0 auto;
    position: relative;
    height: 100%;
    transition: transform 0.17s ease-in-out;
    transform: translateX(0);
    z-index: 1;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2), 2px 0 0 rgba(0, 0, 0, 0.2) inset, -2px 0 0 rgba(0, 0, 0, 0.2) inset;
}
.pane::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.975);
    /*/ backdrop-filter: blur(16px) brightness(2); /*/ /* RIP performance. */
    border: 0 rgba(255, 255, 255, 0.3) solid;
}

.pane-inner {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#pane-left {
    left: 0;
}
#pane-left::before {
    border-right-width: 2px;
}
#pane-left.retracted {
    transform: translateX(calc(-100% - 4px));
}
#pane-right {
    right: 0;
}
#pane-right::before {
    border-left-width: 2px;
}
#pane-right.retracted {
    transform: translateX(calc(100% + 4px));
}

#pane-center {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#pane-center > * {
    pointer-events: all;
}

#pixi-frame {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#pixi-frame > canvas {
    position: absolute;
    top: 0;
    left: 0;
    /* Disable resizing the canvas via CSS because of subpixel precision issues. */
    /*
    width: 100%;
    height: 100%;
    */
}

#picker {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc((48px + 8px) * 11);
    height: calc(48px + 8px + 4px);
    padding: 4px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.2) inset;
    z-index: 20;
    transform: translateX(-50%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#picker::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: -4px;
    left: 0;
    right: -2px;
    background-color: rgba(59, 45, 74, 0.6);
    /*/ backdrop-filter: blur(16px) brightness(2); /*/ /* RIP performance. */
    border: 2px rgba(97, 74, 122, 0.7) solid;
    border-bottom-width: 0;
}

#picker::before, #picker-inner {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* Fix overflow in webkit */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#picker-inner {
    position: absolute;
    top: 100%;
    left: 0;
    height: calc((48px + 8px) * 11);
    padding: 4px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    transform: rotate(-90deg);
    transform-origin: top left;
    transition: color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.3);
}
#picker-inner:hover {
    color: rgba(255, 255, 255, 0.78);
}
#picker-inner::-webkit-scrollbar {
    width: 1px;
}
#picker-inner:hover::-webkit-scrollbar {
    width: 2px;
}
#picker-inner::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: currentColor;
}

#picker .scrollsnap {
    position: relative;
    top: -4px;
    width: 0;
    height: 0;
    scroll-snap-align: start;
}

#picker-inner > * {
    transform: rotate(90deg);
}

#picker .entry {
    flex: 0 0 auto;
    position: relative;
    margin: 4px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    color: initial;
}
#picker .entry::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: background-color 0.08s ease-in-out, box-shadow 0.08s ease-in-out, transform 0.08s ease-in-out;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transform: scale(calc(44 / 48));
}
#picker .entry:hover::before {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    transform: scale(calc(48 / 48));
}
#picker .entry.active::before,
#picker .entry:active::before {
    background-color: rgba(217, 197, 238, 0.9);
}
#picker .entry:active::before {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    transform: scale(calc(46 / 48));
}

#picker .entry > .badge {
    position: absolute;
    bottom: 0;
    right: 0;
    backface-visibility: hidden;
    background: rgba(112, 58, 173, 0.96);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    color: white;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
}


#picker .entry > .icon {
    position: relative;
    top: 8px;
    left: 8px;
    width: 32px;
    height: 32px;
    font-size: 32px;
    pointer-events: none;
}
#picker .entry > img.icon {
    image-rendering: pixelated;
}


#pickerlist #pickerlist-top {
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#pickerlist #pickerlist-search {
    width: 100%;
    height: 32px;
}
#pickerlist #pickerlist-search.mdc-text-field--outlined .mdc-floating-label {
    transform: translateY(-11px) scale(1);
}
#pickerlist #pickerlist-search.mdc-text-field--outlined.mdc-notched-outline--upgraded .mdc-floating-label--float-above,
#pickerlist #pickerlist-search.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    transform: translateY(-130%) scale(0.75);
}

.resize-button {
    transition: color 0.1s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    top: 50%;
    right: -16px;
    transform: translate(-8px, -50%);
    width: 12px;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: -3;
}
.resize-button.right {
    right: unset;
    left: -16px;
    transform: translate(8px, -50%);
}
.resize-button:hover {
    color: rgba(34, 34, 34, 1);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
    transform: translate(0, -50%);
}

.resize-button::before {
    content: "";
    transition: background-color 0.1s ease-in-out, backdrop-filter 0.1s ease-in-out;
    position: absolute;
    z-index: -1;
    top: -2px;
    bottom: -2px;
    left: -4px;
    right: -2px;
    background-color: rgba(255, 255, 255, 0);
    /*/ backdrop-filter: blur(0); /*/ /* RIP performance. */
}
.resize-button.right::before {
    left: -2px;
    right: -4px;
}
.resize-button:hover::before {
    background-color: rgba(255, 255, 255, 0.7);
    /*/ backdrop-filter: blur(16px) brightness(2); /*/ /* RIP performance. */
}

.resize-button::after {
    content: "";
    transition: transform 0.1s ease-in-out;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6.9px;
    border-color: transparent transparent transparent currentColor;
    transform: translateX(2px) rotate(180deg);
}
.resize-button.right::after {
    border-width: 4px 6.9px 4px 0;
    border-color: transparent currentColor transparent transparent;
    transform: translateX(-2px) rotate(180deg);
}
.resize-button:hover::after {
    transform: translateX(0) rotate(180deg);
}
.resize-button.retracted::after {
    transform: translateX(2px) rotate(0);
}
.resize-button.right.retracted::after {
    transform: translateX(-2px) rotate(0);
}
.resize-button.retracted:hover::after {
    transform: translateX(0) rotate(0);
}

.tooltip {
    transition: transform 0.1s, opacity 0.1s, box-shadow 0.1s;
    z-index: 6;
    position: fixed;
    padding: 8px;
    background: rgba(63, 63, 63, 0.95);
    color: white;
    font-size: 14px;
    border-radius: 3px;
    transform: translate(-50%, 0) scale(0.7);
    transform-origin: 50% 100%;
    opacity: 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}
.tooltip.visible {
    transform: translate(-50%, 0) scale(1);
    opacity: 1;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.tooltip[data-tooltip-dir="down"] {
    transform-origin: 50% 0%;
}

.settings-group,
.settings-group .title,
.settings-group .row,
.settings-group .row .label,
.settings-group .row .body {
    display: block;
}
.settings-group {
    padding: 0;
    margin: 0 0 16px 0;
}
.settings-group .row .body {
    float: right;    
}

[data-editorcolorindex="1"] { color: rgb(156, 21, 0)}
[data-editorcolorindex="2"] { color: rgb(37, 146, 0); }
[data-editorcolorindex="3"] { color: rgb(0, 168, 180); }
[data-editorcolorindex="4"] { color: rgb(0, 50, 168); }
[data-editorcolorindex="5"] { color: rgb(140, 0, 172); }
[data-editorcolorindex="6"] { color: rgb(211, 0, 74); }
